#include "menu.h"

MYMENU MENU
{
    POPUP "Mode"
    {
        MENUITEM "&Port/Service", IDM_PORT
        MENUITEM "&IP Address/Host Name", IDM_IP
    }
    MENUITEM "&Help", IDM_HELP
    MENUITEM "&Quit", IDM_QUIT
}